<h1>Collection</h1>

<div class="row">
  <div class="col s12 m12 l6">
    <h2>Subdivision One</h2>
    <div class="input-field col s12">
      <textarea id="textarea2" class="materialize-textarea"></textarea>
      <label for="textarea2">Your notes here</label>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h2>Subdivision Three</h2>
    <div class="input-field col s12">
      <textarea id="textarea2" class="materialize-textarea"></textarea>
      <label for="textarea2">Your notes here</label>
    </div>
  </div>
  <div class="col s12 m12 l6" id="collect-bottom">
    <h2>Subdivision Two</h2>
    <div class="input-field col s12">
      <textarea id="textarea2" class="materialize-textarea"></textarea>
      <label for="textarea2">Your notes here</label>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h2>Subdivision Four</h2>
    <div class="input-field col s12">
      <textarea id="textarea2" class="materialize-textarea"></textarea>
      <label for="textarea2">Your notes here</label>
    </div>
  </div>
</div>