<h1 class="collection">Collection</h1>

<div class="row collection-row">
  <div class="col s12 m12 l6">
    <h2 class="mini-collection">Subdivision</h2>
    <div class="input-field col s12">
      <textarea id="textarea2" class="materialize-textarea"></textarea>
      <label for="textarea2"></label>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h2 class="mini-collection">Subdivision</h2>
    <div class="input-field col s12" id="collect-bottom2">
      <textarea id="textarea2" class="materialize-textarea"></textarea>
      <label for="textarea2"></label>
    </div>
  </div>
  <div class="col s12 m12 l6" id="collect-bottom">
    <h2 class="mini-collection">Subdivision</h2>
    <div class="input-field col s12">
      <textarea id="textarea2" class="materialize-textarea"></textarea>
      <label for="textarea2"></label>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h2 class="mini-collection">Subdivision</h2>
    <div class="input-field col s12" id="collect-bottom3">
      <textarea id="textarea2" class="materialize-textarea"></textarea>
      <label for="textarea2"></label>
    </div>
  </div>
</div>