{{!-- add styling here later --}}

<div class="container">
  <div class="row">
    <h1>Daily Bullet Journal</h1>
    {{!-- insert Date here --}}
    <h2 class="date"></h2>
  </div>
    
  <div class="row bullet-notes">
    <ul>
        <li>{{NOTES}}</li>
    </ul>

    {{!-- <input class="notes" placeholder="day bullet" maxlength="20" type="text"> --}}
   
  </div>
</div>
