{{> dashboard/nav}}
{{> dashboard/tabs}}

<div class="dashboard-body">
  <div class="page-title text-center">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="datepicker">
            <div class="datepicker-header">
              <h1>Calendar</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="main-content">

    <div class="flex-center calendar">

      <div class="container">
        <div class="row">
          <div class="col-sm-12">

            <div id='calendar'></div>
            {{!-- <h1>This is the Calendar</h1> --}}
          </div>
        </div> <!-- /row -->
      </div> <!-- /container -->

    </div> <!-- /quick-log -->

  </div> <!-- /main-content -->

  {{> down-arrow}}

</div> <!-- /dashboard-body -->

