{{!-- index --}}
<div class="container">
    <div class="row">
        <div class="col s12 m12 l6">

        </div>
    </div>
    </div>

    {{!-- todos new--}}
    <div class="col s12 m12 l6" id="daily-table">
        <div class="row">
            <div class="input-field col s12">
                <h3>New Task</h3>
                <textarea id="textarea1" class="materialize-textarea"></textarea>
                <a class="btn waves-effect waves-light newdaily" type="submit" name="action">Submit</a>

            </div>
            {{!-- render db --}}
        </div>

        <ol class='currentDailies'>Current Dailies</ol>
    </div>
</div>
<div class="container">
<div class="row buttonsRow">
    <a class="btn waves-effect waves-light newMonthly center-align" type="submit" name="action">New Monthly</a>
    <a class="btn waves-effect waves-light newHabit center-align" type="submit" name="action">New Habit Tracker</a>
</div>
</div>
<div class="container">
<div class="formRow">

</div>
</div>
{{!-- todos --}}


<script src="https://code.jquery.com/jquery.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
<script src="js/main.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js'></script>
