<div class="row">
    <div class="col s12 m12 l6">
        <h2>Welcome</h2>
        <div class='datepicker'>
            <div class="datepicker-header">
            </div>
        </div>
    </div>


    <div class="col s12 m12 l6" id="daily-table">
        {{#each dates}}
        <div class="row">
            <div class="input-field col s12">
                <textarea id="textarea{{date}}" class="materialize-textarea"></textarea>
                <label for="textarea{{date}}">{{date}}</label>
            </div>
        </div>
        {{/each}}
    </div>
