</div>
<div class="row monthly-row">
    <div class="col s12 m12 l6 monthly-columns">
        <h1 class="welcome">Hello</h1>
        <h3 class="month">March</h3>
        <div class='datepicker'>
            <div class="datepicker-header">
            </div>
        </div>
    </div>
    <div class="col l1"></div>

    <div class="col s12 m12 l5 monthly-columns" id="daily-table">
        {{#each dates}}
        <div class="row">
            <div class="input-field col s12">
                <p class="monthly-date">{{date}}</p>
                <textarea id="textarea{{date}}" class="materialize-textarea"></textarea>
            </div>
        </div>
        {{/each}}
    </div>
</div>
<div class="container">