h1 {
  margin: auto;
  text-align: center;
  color:black;
}



#grid-col {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    grid-gap: 5px;

    /* scroll bar */
    width: 45em;
    overflow-x: auto;
  

    /* position */
    position:absolute; 
    left:0; right:0;
    top:200px; bottom:125px;
    margin: auto;

  }

 


div.cell {
    background: rgb(253, 242, 242);
    border: 10px black;
    padding: 5px;
    color: rgb(253, 242, 242);
    font-display: none;
    /* height: 40;
    width: 60; */
  }


.cellNUM {
text-align: center;
  
}

.wrapper {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 5px;
  position: absolute;
  left: auto;
  /* width: 32;
  height: 34.41; */
  top:200px;
  margin: auto;

 
  text-align: left;
  color: red;

  width: 10em;
  overflow-x: auto;
  border: 10px black;
  padding: 5px;



}

.nav-wrapper {
  background-color: #8a3862;
}