h1 {
  margin: auto;
  text-align: center;
  color:black;
}



#grid-col {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    grid-gap: 5px;

    /* scroll bar */
    width: 45em;
    overflow-x: auto;

    /* position */
    position:absolute; 
    left:0; right:0;
    top:200px; bottom:125px;
    margin: auto auto auto 400px;

  }

 
.habitcell {
  background-color: #FDF2F2;
    border: 10px black;
    padding: 5px;
    color: #FDF2F2;
    font-display: none;
    height:34.4px;

}

div.cell {
    background-color: #FDF2F2;
    border: 10px black;
    padding: 5px;
    color: #FDF2F2;
    font-display: none;

  }


.cellNUM {
text-align: center;
  
}

.wrapper {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 5px;
  position: absolute;
  left: auto;

  top:200px;
  margin: auto;

 
  text-align: left;


  width: 10em;
  overflow-x: auto;
  border: 10px black;


}

.nav-wrapper {
  background-color: #8a3862;
}

.cellNUM1{
  color: white;
}